<% if user_signed_in? %>
<% unless current_user == user%>
<% if current_user.following?(user) %>
<div class="follow_form_<%= user.id %>">
	<%= form_for(current_user.relationships.find_by(follow_id: user.id), method: :delete, remote: true) do |f| %>
	<%= hidden_field_tag :follow_id, user.id %>
	<%= f.submit 'フォロー中', class: 'uk-button uk-button-primary' %>
	<% end %>
</div>
<% else %>
<div class="follow_form_<%= user.id %>">
	<%= form_for(current_user.relationships.build, method: :post, remote: true) do |f| %>
	<%= hidden_field_tag :follow_id, user.id %>
	<%= f.submit 'フォロー', class: 'uk-button uk-button-default' %>
	<% end %>
</div>
<% end %>
<% end %>
<% end %>
