<h2> 現在 <%= current_user.name %> さんがログインしています </h2>
<!--Japanmapのパーシャル -->
<%= render 'japanmap' %>

<%= form_for(@post) do |f| %>
  <%= f.text_area :content , placeholder: "Compose new micropost..." %>
  <%= f.submit "post" %>
<% end %>

<% @posts.each do |post| %>
    <p><%= post.content %>
<% end %>
  

<%= link_to "ポストを作成する" , new_post_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->