<div class="uk-flex uk-flex-wrap">
    <% if object.any? %>
    <% object.each do |post| %>
    <div class="uk-width-1-3 uk-padding-small">
        <%= link_to post do %>
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <%= image_tag post.image.thumb.url, class:"uk-border-rounded"%>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-text-emphasis">
                <%= image_tag post.user.image.url, class:"user_image" %>
                <%= post.user.name %>
                <p class="uk-position-center">
                    <% if current_user.already_liked?(post) %>
                    <%= image_tag("/assets/like") %>
                    <% else %>
                    <%= image_tag("/assets/unlike") %>
                    <% end %><%= post.likes.count %>
                </p>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
    <% else %>
    <div class="uk-text-center">投稿が一つもないね</div>
    <% end %>
</div>