 <script>

  $(function()
  {        
    var kens = [ 'hoge', '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県', '福岡県', '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県' ]; 
    var kencode = 1;
    var areas =[];
    
    <% (1..47).each do |count| %>
         areas.push(
          {
            code : kencode,
            name: kens[kencode], 
            color:
                  <% if current_user.user_ken.find_by(ken_id: count) %>
                    "#89c7de", 
                  <% else %>
                    "white",
                  <% end %>
            hoverColor: "#b3b2ee", 
            prefectures: [kencode]
            });
         kencode++;
   <% end %>

    $(".japanmap").japanMap
    ({
        width: 700,
        selection: "area",
        areas: areas,
        backgroundColor : "white",
        borderLineColor: "black",
        borderLineWidth : 0.25,
        lineColor : "#a0a0a0",
        lineWidth: 1,
        drawsBoxLine: false,
        showsPrefectureName: false,
        prefectureNameType: "short",
        movesIslands : true,
        fontSize : 11,
        fontShadowColor : "#fff",
        onSelect : function(data)
        {
          UIkit.modal("#modal-prefecture").show();
				  $('.kenid').val(data.code);
				  $('.button').val(data.name + "を行ったことにする");
				  $('.link').attr("href", "/kens/" + data.code);
				  $('.image').children('img').attr('src', '/assets/prefecture/' + data.code + '.png');
				  $("textarea").attr('placeholder', data.name + "について書いて！！");
				  
        }
      });
  });

 </script>

 <div class="japanmap">
 
<dl class="uk-description-list description">
    <dd>左の都道府県をクリックするとダイアログが表示されます。</dd>
</dl>
</div>

 
 
 <div id="modal-prefecture" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    
    <div class="uk-grid">
      
      <div class="form uk-width-1-2">
      <h2 class="uk-modal-title">投稿</h2>
      <%= form_for(@post) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        
        <%= f.hidden_field :ken_id, value: "hoge" , class:"kenid uk-margin-small"%>
        
        <%= f.text_field :place , placeholder: "行った場所を書きましょう", class:"uk-textarea uk-margin-small" %>
        
        <%= f.text_area :content , placeholder: "都道府県を選択してください", class:"uk-textarea uk-margin-small" %>
        
        <%= text_field_tag 'post[tag_list]', @post.tag_list, placeholder: "タグを#区切りで入力", class:"uk-margin-small" %>
        
        <%= f.date_field :visited_at, value:Date.today %>
        
        <%= f.file_field :image, class:"uk-margin-small"%>
        
        
        <%= f.submit "post" , class:"uk-button button" %>
      <% end %>
      </div>
      
      <div class="uk-width-1-2 ">
        <h2 class="uk-modal-title">移動</h2>
        <a href="/home_pages/index" class="link">
          <div class="image">
            <img src="" alt="">
          </div>
        </a>
      <dl class="uk-description-list description">
      <dd>※上の都道府県をクリックすると都道府県のページに遷移します。</dd>
      </dl>
      </div>
      
    </div>
  </div>
</div>



