<nav class="uk-navbar-container" uk-navbar uk-sticky="bottom: #offset" style="background-color:#89c7de;">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a href class="uk-margin-small-right" uk-toggle="target: #offcanvas-nav"><span
                        uk-icon="home"></span></a>
            </li>
        </ul>
    </div>

    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav uk-nav-default">

                <% if user_signed_in? %>

                <li class="uk-active uk-padding-small">
                    <%= link_to current_user do %>
                    <span uk-icon="user"></span><%= current_user.name %>
                    <% end %>
                </li>

                <li class="uk-active uk-padding-small">
                    <%= link_to new_post_path do %>
                    <span uk-icon="comment"></span>投稿
                    <% end %>
                </li>

                <li class="uk-active uk-padding-small">
                    <%= link_to posts_path do %>
                    <span uk-icon="clock"></span>タイムライン
                    <% end %>
                </li>

                <li class="uk-active uk-padding-small">
                    <%= link_to edit_user_registration_path do %>
                    <span uk-icon="settings"></span>ユーザー編集
                    <% end %>
                </li>

                <li class="uk-nav-divider"></li>

                <li class="uk-active uk-padding-small">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                    <span uk-icon="sign-out"></span>ログアウト
                    <% end %>
                </li>

                <% else %>

                <li class="uk-active uk-padding-small">
                    <%= link_to posts_path do %>
                    <span uk-icon="home"></span>TOP
                    <% end %>
                </li>

                <li class="uk-active uk-padding-small">
                    <%= link_to new_user_session_path do %>
                    <span uk-icon="sign-in"></span>ログイン
                    <% end %>
                </li>

                <li class="uk-active uk-padding-small">
                    <%= link_to  new_user_registration_path do %>
                    <span uk-icon="plus-circle"></span>アカウント作成
                    <% end %>
                </li>

                <% end %>

            </ul>
        </div>
    </div>

    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a href="#search" uk-toggle><span uk-icon="icon:search"></span></a>
            </li>
        </ul>
    </div>

    <div id="search" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">検索</h2>
            <%= render 'searchs/search_form'%>
        </div>
    </div>
</nav>
