<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <%= link_to(home_pages_index_path) do %>
                <span uk-icon="home"></span> 
          <% end %>
        </li>
      </ul>
  </div>
  
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <% if current_user %>
        訪れた都道府県の数<%= visited_ken_count current_user %> / 47
      <% end %>
    </ul>
  </div>
    
  <div class="uk-navbar-right">
    
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">
          <% if user_signed_in? %>
            <%= current_user.name %>
          <% else %>
            ログインしてないよ
          <% end %>
            </a>
        <div class="uk-navbar-dropdown">
        <ul class="uk-nav uk-navbar-dropdown-nav">
          <% if user_signed_in? %>
            <li><%= link_to "編集", edit_user_registration_path(current_user) %></li>
            <li><%= link_to "profile", user_path(current_user) %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
          <% end %>
        </ul>
      </div>
      </li>
    </ul>
  </div>
</nav>

