<!--<nav class="uk-navbar-container" uk-navbar uk-sticky="bottom: #offset" style="background-color:#89c7de;">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a href class="uk-margin-small-right" uk-toggle="target: #offcanvas-nav"><span
                        uk-icon="home"></span></a>
            </li>
        </ul>
    </div>

    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav uk-nav-default">

                <% if user_signed_in? %>

                <li class="uk-active uk-padding-small">
                    <%= link_to current_user do %>
                    <span uk-icon="user"></span><%= current_user.name %>
                    <% end %>
                </li>

                <li class="uk-active uk-padding-small">
                    <%= link_to new_post_path do %>
                    <span uk-icon="comment"></span>投稿
                    <% end %>
                </li>

                <li class="uk-active uk-padding-small">
                    <%= link_to posts_path do %>
                    <span uk-icon="clock"></span>タイムライン
                    <% end %>
                </li>

                <li class="uk-active uk-padding-small">
                    <%= link_to edit_user_registration_path do %>
                    <span uk-icon="settings"></span>ユーザー編集
                    <% end %>
                </li>

                <li class="uk-nav-divider"></li>

                <li class="uk-active uk-padding-small">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                    <span uk-icon="sign-out"></span>ログアウト
                    <% end %>
                </li>

                <% else %>

                <li class="uk-active uk-padding-small">
                    <%= link_to posts_path do %>
                    <span uk-icon="home"></span>TOP
                    <% end %>
                </li>

                <li class="uk-active uk-padding-small">
                    <%= link_to new_user_session_path do %>
                    <span uk-icon="sign-in"></span>ログイン
                    <% end %>
                </li>

                <li class="uk-active uk-padding-small">
                    <%= link_to  new_user_registration_path do %>
                    <span uk-icon="plus-circle"></span>アカウント作成
                    <% end %>
                </li>

                <% end %>

            </ul>
        </div>
    </div>

    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a href="#search-modal" uk-toggle><span uk-icon="icon:search"></span></a>
            </li>
        </ul>
    </div>
</nav>
-->
<nav class="uk-navbar-container uk-margin" uk-sticky="bottom: #offset" uk-navbar="mode: click"
    style="background-color:#89c7de;">
    <div class="uk-navbar-left">
    <%= link_to "JARAVLATE", root_path, class:"uk-navbar-item uk-logo" %>
        <ul class="uk-navbar-nav">
            <li>
                <a href="#"><span uk-icon="icon:home; ratio:1.5"></span></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><%= link_to "タイムライン", posts_path %></li>
                        <li><%= link_to "新着投稿", new_arrival_posts_path %></li>
                        <li><%= link_to "人気投稿",  popular_posts_path %></li>
                    </ul>
                </div>
            </li>
            <li><a href="#search-modal" uk-toggle><span uk-icon="icon:search; ratio:1.5"></span></a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <% if user_signed_in? %>
            <li>
                <a href="#"><span uk-icon="icon:user; ratio:1.5"></span></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><%= link_to "新規投稿", new_post_path %></li>
                        <li><%= link_to "マイページ", current_user%></li>
                        <li><%= link_to "プロフィール編集", edit_user_registration_path %></li>
                        <li class="uk-nav-divider"></li>
                        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                    </ul>
                </div>
            </li>
            <% else %>
            <li>
                <a href="#"><span uk-icon="icon:user; ratio:1.5"></span></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><%= link_to "ログイン", new_user_session_path %></li>
                        <li><%= link_to "サインアップ", new_user_registration_path %></li>
                    </ul>
                </div>
            </li>
            <% end %>
        </ul>
    </div>
</nav>
