<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <%# アラート機能 #%>
    <% flash.each do  |message_type, message| %>
        <div class = "uk-alert uk-alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="loader-wrap">
    	<div class="loader">Loading...</div>
    </div>

    
    <%= yield %>
    
    <% if !user_signed_in? %>
     <%= render 'layouts/footer' %>
    <% end %>
  </body>
  

 

    
</html>
